body {
    flex: 1;
    align-items: center;
    justify-content: center
}

.test {
    display: none;
    opacity: 0;
    cursor: pointer;
}

.drag {
    width: 150px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #15ea0e;
}
